In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth

In [2]:
from oauth2client.client import GoogleCredentials

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [5]:
#merged datasets 1
#https://drive.google.com/file/d/1ngefCHpfiIeRI7boNrTqv7Qvb8x18ee4/view?usp=sharing

fileDownloaded = drive.CreateFile({"id":"1ngefCHpfiIeRI7boNrTqv7Qvb8x18ee4"})

In [6]:
fileDownloaded.GetContentFile("merge.csv")

In [7]:
import pandas as pd
data = pd.read_csv('merge.csv', encoding='utf-8')

In [8]:
data.head()

   Unnamed: 0  Unnamed: 0.1  ...  sc_wireless_22-24m_trans  sc_wireless_22-24m_spend
0           0           164  ...                       NaN                       NaN
1           1           251  ...                       NaN                       NaN
2           2           278  ...                       NaN                       NaN
3           3           282  ...                       NaN                       NaN
4           4           374  ...                       2.0                         2

[5 rows x 1323 columns]

generate some variables based on consumptions on categories

clean the merged data

In [9]:
import seaborn as sns
import pandas as pd
import numpy as np
import os

In [10]:
#delete indicators that do not contain relevant information
data.filter(regex = 'Indicator$', axis= 1)

       Target Home Market Value 2.0 Indicator  ... Target Net Worth 4.0 Indicator
0                                           S  ...                              H
1                                           S  ...                              H
2                                           S  ...                              H
3                                           S  ...                              H
4                                           A  ...                              H
...                                       ...  ...                            ...
150931                                      H  ...                              H
150932                                      H  ...                              H
150933                                      S  ...                              H
150934                                      S  ...                              H
150935                                      S  ...                              H

[150936 rows x 7 columns]

In [11]:
data.drop(columns = data.filter(regex = 'Indicator$', axis= 1), inplace= True)

In [12]:
data.head()

   Unnamed: 0  Unnamed: 0.1  ...  sc_wireless_22-24m_trans  sc_wireless_22-24m_spend
0           0           164  ...                       NaN                       NaN
1           1           251  ...                       NaN                       NaN
2           2           278  ...                       NaN                       NaN
3           3           282  ...                       NaN                       NaN
4           4           374  ...                       2.0                         2

[5 rows x 1316 columns]

In [13]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [14]:
x= data[['Number of Children (Enhanced)','Advantage Target Income 3.0','Discretionary Spending Income','Target Net Worth 4.0 Code']]

In [15]:
x['Target Net Worth 4.0 Code'] = x['Target Net Worth 4.0 Code'].replace(['A','B'],[10,11])

In [16]:
x['Advantage Target Income 3.0'] = x['Advantage Target Income 3.0'].replace(['A','B', 'C', 'D'],[10,11, 12, 13])

In [17]:
x['Discretionary Spending Income'] = x['Discretionary Spending Income'].replace(['A','B', 'C'],[10,11, 12])

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
num_features = ['Number of Children (Enhanced)','Advantage Target Income 3.0','Discretionary Spending Income','Target Net Worth 4.0 Code']
num_transformer = Pipeline(
    steps=[("imputer",IterativeImputer(initial_strategy='median',imputation_order='ascending')),
           ('scaler',MinMaxScaler())]
)

preprocessor = ColumnTransformer(
    transformers=[("num",num_transformer,num_features)]
)

In [20]:
ouch=pd.DataFrame(preprocessor.fit_transform(x),
                  columns = ['Number of Children (Enhanced)','Advantage Target Income 3.0',
                             'Discretionary Spending Income','Target Net Worth 4.0 Code'])

In [21]:
ouch.isnull().sum()

Number of Children (Enhanced)    0
Advantage Target Income 3.0      0
Discretionary Spending Income    0
Target Net Worth 4.0 Code        0
dtype: int64

In [22]:
ouch

        Number of Children (Enhanced)  ...  Target Net Worth 4.0 Code
0                            0.183862  ...                   0.636364
1                            0.192241  ...                   0.909091
2                            0.295834  ...                   1.000000
3                            0.164031  ...                   0.818182
4                            0.142291  ...                   0.272727
...                               ...  ...                        ...
150931                       0.248611  ...                   1.000000
150932                       0.085201  ...                   0.454545
150933                       0.109807  ...                   0.909091
150934                       0.168964  ...                   0.727273
150935                       0.221081  ...                   0.818182

[150936 rows x 4 columns]

In [23]:
x2= data[['Family composition (Enhanced)', 'Advantage Individual Marital Status - Person 1', 'Gender code - Person 1','Advantage Dwelling Type','Advantage Home Owner','Advantage Length of Residence']]

In [24]:
x2.isnull().sum().sort_values(ascending=False)

Advantage Home Owner                              10446
Advantage Dwelling Type                            7427
Advantage Individual Marital Status - Person 1     6310
Gender code - Person 1                             5236
Family composition (Enhanced)                      5140
Advantage Length of Residence                      4985
dtype: int64

In [25]:
num_features2 = ['Family composition (Enhanced)', 'Advantage Individual Marital Status - Person 1', 
                'Gender code - Person 1','Advantage Dwelling Type','Advantage Home Owner','Advantage Length of Residence']
num_transformer2 = Pipeline(
    steps=[("imputer",IterativeImputer(initial_strategy='median',imputation_order='ascending'))]
)

preprocessor2 = ColumnTransformer(
    transformers=[("num",num_transformer2,num_features2)]
)

In [26]:
ouch2=pd.DataFrame(preprocessor2.fit_transform(x2),
                  columns = ['Family composition (Enhanced)', 'Advantage Individual Marital Status - Person 1', 
                             'Gender code - Person 1','Advantage Dwelling Type','Advantage Home Owner',
                             'Advantage Length of Residence'])

In [27]:
ouch2.isnull().sum()

Family composition (Enhanced)                     0
Advantage Individual Marital Status - Person 1    0
Gender code - Person 1                            0
Advantage Dwelling Type                           0
Advantage Home Owner                              0
Advantage Length of Residence                     0
dtype: int64

In [28]:
ouch2

        Family composition (Enhanced)  ...  Advantage Length of Residence
0                                 6.0  ...                            8.0
1                                12.0  ...                            5.0
2                                 2.0  ...                            4.0
3                                 2.0  ...                            5.0
4                                12.0  ...                            5.0
...                               ...  ...                            ...
150931                           14.0  ...                            7.0
150932                           14.0  ...                            2.0
150933                            1.0  ...                            7.0
150934                            2.0  ...                            5.0
150935                            1.0  ...                            8.0

[150936 rows x 6 columns]

### Recode spend codes' indices into average values

In [29]:
spend = data.filter(regex = 'spend',axis= 1)

In [30]:
spend1 = spend.replace(['1','2','3','4','5','6','7','8','9','A','B','C','D',
                        'E','F','G','H','I','J','K','L','M','N','O','P','Q','R',
                        'S','T','U','V','W','X','Y','Z']
                       ,[25.50,62.50,88.00,112.50,137.50,162.50,187.50,225.00,
                         275.00,325.00,375.00,430.00,475.00,525.00,575.00,625.00,
                         675.00,725.00,775.00,825.00,875.00,925.00,975.00,1125.00,
                         1375.00,1625.00,1875.00,2125.00,2375.00,2625.00,2875.00,
                         3125.00,3375.00,3625.00,3750.00])

In [31]:
spend1

        overall_0-3m_spend  ...  sc_wireless_22-24m_spend
0                   3750.0  ...                       NaN
1                   3750.0  ...                       NaN
2                   1125.0  ...                       NaN
3                   3750.0  ...                       NaN
4                   3750.0  ...                      62.5
...                    ...  ...                       ...
150931              3750.0  ...                     775.0
150932              2625.0  ...                       NaN
150933              3750.0  ...                    1125.0
150934              3750.0  ...                       NaN
150935              3750.0  ...                       NaN

[150936 rows x 640 columns]

### Filling in missing values in *spend*

In [35]:
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

In [42]:
big=pd.DataFrame(SimpleImputer(strategy='mean').fit_transform(spend1),columns=spend1.columns)

In [43]:
big.isnull().sum()

overall_0-3m_spend          0
overall_4-6m_spend          0
overall_7-9m_spend          0
overall_10-12m_spend        0
overall_13-15m_spend        0
                           ..
sc_wireless_10-12m_spend    0
sc_wireless_13-15m_spend    0
sc_wireless_16-18m_spend    0
sc_wireless_19-21m_spend    0
sc_wireless_22-24m_spend    0
Length: 640, dtype: int64

### Keep the highest categories of *spend*

In [64]:
automotive = big.filter(regex = 'c_automotive',axis= 1)
communication = big.filter(regex = 'c_communication',axis= 1)
education = big.filter(regex = 'c_education',axis= 1)
entertainment = big.filter(regex = 'c_entertainment',axis= 1)
financial_services = big.filter(regex = 'c_financial_services',axis= 1)
food_convenience_drug_store = big.filter(regex = 'c_food-convenience-drug_store',axis= 1)
other_retail = big.filter(regex = 'c_other_retail',axis= 1)
restaurant = big.filter(regex = "c_restaurant", axis=1)
retail = big.filter(regex = "c_retail", axis=1)
services = big.filter(regex = "c_services", axis=1)
travel = big.filter(regex = "c_travel", axis=1)

In [65]:
spend_clean=pd.concat([automotive, communication, education, entertainment,
                       financial_services, food_convenience_drug_store,
                       other_retail, restaurant, retail, services, travel], axis=1)

In [71]:
spend_clean.drop(columns = spend_clean.filter(regex = 'sc_education_', axis= 1), inplace= True)
spend_clean.drop(columns = spend_clean.filter(regex = 'sc_travel_services_', axis= 1), inplace= True)

In [72]:
for col in spend_clean.columns:
  print(col)

c_automotive_0-3m_spend
c_automotive_4-6m_spend
c_automotive_7-9m_spend
c_automotive_10-12m_spend
c_automotive_13-15m_spend
c_automotive_16-18m_spend
c_automotive_19-21m_spend
c_automotive_22-24m_spend
c_communications_service_providers_0-3m_spend
c_communications_service_providers_4-6m_spend
c_communications_service_providers_7-9m_spend
c_communications_service_providers_10-12m_spend
c_communications_service_providers_13-15m_spend
c_communications_service_providers_16-18m_spend
c_communications_service_providers_19-21m_spend
c_communications_service_providers_22-24m_spend
c_education_0-3m_spend
c_education_4-6m_spend
c_education_7-9m_spend
c_education_10-12m_spend
c_education_13-15m_spend
c_education_16-18m_spend
c_education_19-21m_spend
c_education_22-24m_spend
c_entertainment_0-3m_spend
c_entertainment_4-6m_spend
c_entertainment_7-9m_spend
c_entertainment_10-12m_spend
c_entertainment_13-15m_spend
c_entertainment_16-18m_spend
c_entertainment_19-21m_spend
c_entertainment_22-24m_spend
c_financial_services_0-3m_spend
c_financial_services_4-6m_spend
c_financial_services_7-9m_spend
c_financial_services_10-12m_spend
c_financial_services_13-15m_spend
c_financial_services_16-18m_spend
c_financial_services_19-21m_spend
c_financial_services_22-24m_spend
c_food-convenience-drug_store_0-3m_spend
c_food-convenience-drug_store_4-6m_spend
c_food-convenience-drug_store_7-9m_spend
c_food-convenience-drug_store_10-12m_spend
c_food-convenience-drug_store_13-15m_spend
c_food-convenience-drug_store_16-18m_spend
c_food-convenience-drug_store_19-21m_spend
c_food-convenience-drug_store_22-24m_spend
c_other_retail_0-3m_spend
c_other_retail_4-6m_spend
c_other_retail_7-9m_spend
c_other_retail_10-12m_spend
c_other_retail_13-15m_spend
c_other_retail_16-18m_spend
c_other_retail_19-21m_spend
c_other_retail_22-24m_spend
c_restaurant_0-3m_spend
c_restaurant_4-6m_spend
c_restaurant_7-9m_spend
c_restaurant_10-12m_spend
c_restaurant_13-15m_spend
c_restaurant_16-18m_spend
c_restaurant_19-21m_spend
c_restaurant_22-24m_spend
c_retail_0-3m_spend
c_retail_4-6m_spend
c_retail_7-9m_spend
c_retail_10-12m_spend
c_retail_13-15m_spend
c_retail_16-18m_spend
c_retail_19-21m_spend
c_retail_22-24m_spend
c_services_0-3m_spend
c_services_4-6m_spend
c_services_7-9m_spend
c_services_10-12m_spend
c_services_13-15m_spend
c_services_16-18m_spend
c_services_19-21m_spend
c_services_22-24m_spend
c_travel_0-3m_spend
c_travel_4-6m_spend
c_travel_7-9m_spend
c_travel_10-12m_spend
c_travel_13-15m_spend
c_travel_16-18m_spend
c_travel_19-21m_spend
c_travel_22-24m_spend

In [73]:
spend_clean.head()

   c_automotive_0-3m_spend  ...  c_travel_22-24m_spend
0                88.000000  ...              25.500000
1               112.500000  ...             875.000000
2               393.355771  ...            1114.814027
3               325.000000  ...             875.000000
4               275.000000  ...             275.000000

[5 rows x 88 columns]